/* declaring variables */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}
h1,
h2,
h3 {
  margin: 0;
}
a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
}

/* intro styles */
#intro {
  padding: 4rem 2rem 10rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  font-family: var(--mono);
}
#intro .name span {
  color: var(--aqua);
  font-size: 4rem;
  display: block;
  font-weight: normal;
}
#contact {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 1rem;
  text-align: center;
  background-color: var(--plum);
}
#contact p:last-child {
  margin-top: 3rem;
}
/* Projects section */
#projects {
  background-color: var(--dkblue);
  padding: 4rem 1rem;
}
#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--aqua);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}
#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
#projects img {
  max-width: 100%;
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}
@media (min-width: 550px) {
  #projects article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .text {
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
}

.section-end {
  background: linear-gradient(
    90deg,
    rgba(235, 28, 211, 1) 25%,
    rgba(134, 251, 251, 1) 100%
  );

  height: 2px;
}
.section-plum {
  background-color: var(--plum);
}
header {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}
.logo {
  font-family: var(--sans);
}
.logo a {
  display: inline;
  margin-left: 1rem;
  font-size: var(--font-size);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}
nav a:hover {
  color: var(--magenta);
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
/* attribute selector class contain "fa-" to target if in specific way*/
nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}
nav [class*="fa-"]:hover {
  color: var(--magenta);
}
.button {
  padding: 0.5rem;
  background-color: var(--magenta);
  border-radius: 6px;
  font-family: var(--mono);
  color: white;
  text-decoration: none;
}
.button:hover {
  color: white;
  background-color: var(--hotmag);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
footer {
  text-align: center;
  margin-top: 5rem;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
}
footer a {
  font-size: 40px;
}
